@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: gray;
}

main {
    flex-grow: 1;
}

footer {
    height: 50px;
    background-color: gray;
}

.card-container {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 300px;
    padding: 8px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px #0003;
    transition: box-shadow 0.5s;
}

.card-image-container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-image {
    max-width: 100%;
    max-height: 100%; 
}

.card-descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.card-avaliacao {
    color: peru;
    font-size: 1.5rem;
}

.card-preco {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.card-parcelamento {
    font-family: 'Roboto', sans-serif;
    font-size: .8ren;
}